.commentContainer {
  border-radius: 8px;
  background: rgb(247, 249, 252);
  margin-bottom: 8px;
  padding: 8px;
  
  &:last-of-type {
    margin-bottom: 0px;
  }
}
.commentName {
  font-weight: bold;
  margin-right: 8px;
}
.commentEmail {
  font-size: 12px;
  margin-bottom: 8px;
}