.buttonWrapper {
  text-align: center;
  height: 100%;
  width: 200px;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    -webkit-box-shadow: inset 0px 4px 77px -3px rgba(77,77,77,1);
    -moz-box-shadow: inset 0px 4px 77px -3px rgba(77,77,77,1);
    box-shadow: inset 0px 4px 77px -3px rgba(77,77,77,1);
  }
}
.button {
  color: white;
  font-size: 18px;
  max-width: 170px;
}
