.buttonWrapper {
  text-align: center;
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    background-color: black;

  }

  &:hover:not(.active) {
    -webkit-box-shadow: inset 0px 4px 77px -3px rgb(105, 105, 105);
    -moz-box-shadow: inset 0px 4px 77px -3px rgb(105, 105, 105);
    box-shadow: inset 0px 4px 77px -3px rgb(105, 105, 105);
  }
}
.button {
  color: white;
  font-size: 16px;
  max-width: 170px;
}
